params {
    samplesheet = "assets/samplesheet.csv"
    outdir = "results"
}


profiles {

    test {

        params.samplesheet =
            "${projectDir}/assets/samplesheet.csv"

        params.outdir =
            "${projectDir}/results"

        docker.enabled = true
    }

    docker {
        docker.enabled = true
    }
}


process {

    errorStrategy = "terminate"

    shell = [
        "/bin/bash",
        "-euo",
        "pipefail"
    ]
}